<%-include("../partials/headerResult")%>
<%-include("../partials/teacherHead")%>

<div id="content" class="clearfix">
	<div class="innerWrapper">
		<div class="generic-overlay">
			<div class="generic-overlay-content"></div>
			<div class="clearheight30"></div>
		</div>
		<div class="col-span-7">
			<p class="breadcrumb3"><span class="first">Settings</span></p>
		</div>
		<div class="col-span-3">
			<ul class="menu-sections" id="walkthrough-menu">
				<li class="test"><a href="/tests"><span>Tests</span></a></li>
				<li class="group"><a class="sect" href="/tests/groups"><span>Groups</span></a></li>
				<li class="link"><a class="sect" href="/tests/links"><span>Links</span></a></li>
			</ul>
		</div>
		<div class="clearheight20"></div>
		<div class="clearheight20"></div>
		<%if(edits=='0'){%>
		<ul class="steps stepbars stepsbars2">
			<li class="step-1 "><a href="/assign/tests/">Select Test</a></li>
			<li class="step-2 "><%if(edit=="0"){%><a href="/assign/groups/?test_id=<%=test._id%>"><%}%>Assign<%if(edit=="0"){%></a><%}%></li>
			<li class="step-3 <%if(edit=="0"){%>current<%}%>">Settings</li>
			<li class="step-4 last <%if(edit=="1"){%>current<%}%>">Review</li>
		</ul>
		<%}%>
		<div class="masthead clearfix">
			<div class="page pagecontent">
				<h2 class="test-name-big name-big"><a href="/tests/test/?test_id=<%=test._id%>" class="graylink"><%=test.test_name%></a></h2>
				<h2 class="group-name name"><a href="/tests/groups/edit/?group_id=<%=group._id%>" class="graylink"><%=group.group_name%></a></h2>
			</div>
		</div>
		
		<%if(edit=="1"){%>
		<div class="alert-box alert-confirmation editor ">
			<strong>Great! Your Test is assigned to your Group.</strong><br><br>You can edit these settings at any time by going to the <a href="/tests/">Tests</a> section, then select the <strong>Settings</strong> link for this assignment.
		</div>
		<div class="clearheight30"></div>
		<div class="col-span-10 col-btns">
			<a href="#" class="anchor_scroll_setting_div btn btn-results"><i class="fa fa-cog" aria-hidden="true"></i> Review Settings</a>&nbsp;
			<a href="/test/start/?test_id=<%=test._id%>&amp;rg_id=<%=rg_id%>" class="right btn btn-analytics showTooltipEast" title="Preview taking this Test with these applied Settings.">Preview Test</a>
		</div>
		<div class="clearheight5"></div>
		<hr>
		<p><i class="fa fa-envelope-o" aria-hidden="true"></i> <strong>You can now notify users from the Group Members Page:</strong>&nbsp;&nbsp;<a href="/tests/groups/edit/?group_id=<%=rg_id%>&amp;show_notify_members=1#regnew" class="btn btn-results">Notify Members</a></p>
		<hr>
		<div class="clearheight30"></div>
		<%}%>
		
		
		
		<a class="scroll_setting_div"></a>
		<%if(edit=="0"){%>
		<div class="">
		<%}else{%>
		<div class="delay_hide_sceditor" style="display: none;">
		<%}%>
			<div class="clearheight"></div>
			<div class="page editor assign-settings-container">
				<form <%if(edits=='0'){%>action="/assign/update/"<%}else if(edits=='1' && existingSettings=='0'){%>action="/assign/update/?_method=PUT"<%}else if(existingSettings=='1' & edits=='1'){%>action="/assign/update/"<%}%>  method="post" id="monitorchanges">
					<input type="hidden" name="step" value="4">
					<input type="hidden" name="settings_type" value="classtestsettings">
					<!-- <input type="hidden" name="test_id" value="<%=test._id%>"> -->
					<input type="hidden" name="settings[forTest]" value="<%=test._id%>">
					<input type="hidden" name="rg_id_<%=group._id%>" value="<%=group._id%>">
					<!-- <input type="hidden" name="rg_id" value="<%=group._id%>"> -->
					<input type="hidden" name="settings[forGroup]" value="<%=group._id%>">
					<%if(edits=='1'){%><input type="hidden" name="setting_id" value="<%=setting._id%>"><%}%>
					
					<input type="hidden" name="assign_new_reggroup" value="1">
					<div class="clearheight"></div>
					<%-include("settings/availability")%>
					<%-include("settings/testIntroduction")%>
					<%-include("settings/takingTest")%>
					<%-include("settings/testQs")%>
					<%-include("settings/testCompletion")%>
					<p>
						<input type="checkbox" value="1" name="save_as_default" id="save_as_defaults">
						<label for="save_as_defaults">Save as my default settings.</label>
						<span class="showTooltipHTML tooltip" title="Each time you assign a Test, these settings will be preset for you.<br/><br/>Note: Saving as Default settings will not affect any of your Existing Assigned Settings.">Tip</span>
					</p>
					<a class="btn btn-create editSettingsSubmitCheck" href="#">Assign</a>
					<a class="btn btn-cancel" href="/tests/">Cancel</a>
				</form>
			</div>
			<div class="aside editor">
				<div class="clearheight60"></div>
				<div class="aside-message assign">
					<%if(edits=="1" && existingSettings=='0'){%>
					<h4>Remove Test From Group</h4>
					<p><strong>Temporarily</strong></p>
					<p class="explain"><a href="#" id="tog_change" class="showcont hideme">Learn more</a></p>
					<div class="hide" id="dotog_change">
						<p class="explain">Hide this Test from this group by editing the availability settings on this page.<span class="showTooltip tooltip" title="When Tests are hidden, group members cannot take the Test or see their results.">Tip</span></p><p class="explain"><a href="#" class="anchor_scroll_Availability">Change availability</a></p>
					</div>
					<hr>
					<p><strong>Permanently</strong></p>
					<p class="explain"><a href="#" id="tog_perm" class="showcont hideme">Learn more</a></p>
					<div class="hide" id="dotog_perm">
						<p class="explain">Remove this Test and its <a href="/results/tests/test/rgusers/?test_id=<%=test._id%>&amp;rg_id=<%=rg_id%>">results</a> from this group by unassigning it.<span class="showTooltip tooltip" title="Any results for the Test in this group will be permanently deleted. You can export Test results from the Results pages first to keep an offline copy. You can re-assign this Test again later if you require.">Tip</span></p>
						
							<form action="/assign/rgmanage/unassign/?test_id=<%=test._id%>&amp;rg_id=<%=rg_id%>&_method=delete" method="post">
								<p class="explain">
								<input type="submit" value="Unassign Test">
								</p>
							</form>
						
					</div>
					<hr>
					<%}%>
					
					<p><strong>Tip</strong></p>
					<p class="explain">Each Test can be assigned to multiple Groups or Links with customized settings applied each time.</p>
				</div>
			</div>
		</div>
		<div class="clearheight60"></div>
		<%-include("settings/JSinWrapper")%>
	</div><!-- innerWrapper -->
	<img src="/img3/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>
<%-include("../partials/footer")%>