<%-include("../partials/headerResult")%>
<%-include("../partials/teacherHead")%>
<div id="content" class="clearfix">
	<div class="innerWrapper">
		<div class="generic-overlay">
			<div class="generic-overlay-content"></div>
			<div class="clearheight30"></div>
		</div>
		<div class="col-span-7">
			<p class="breadcrumb3"><span class="first">Assign To</span></p>
		</div>
		<div class="col-span-3">
			<ul class="menu-sections" id="walkthrough-menu">
				<li class="test"><a href="/tests/"><span>Tests</span></a></li>
				<li class="group"><a class="sect" href="/tests/groups"><span>Groups</span></a></li>
				<li class="link"><a class="sect" href="/tests/links"><span>Links</span></a></li>
			</ul>
		</div>
		<div class="clearheight20"></div>
		<div class="clearheight20"></div>
		<ul class="steps stepbars stepsbars2">
			<li class="step-1 "><a href="/assign/tests/">Select Test</a></li>
			<li class="step-2  current">Assign</li>
			<li class="step-3 ">Settings</li>
			<li class="step-4 last">Review</li>
		</ul>
		<h2 class="test-name-big name-big"><%=test.test_name%></h2>
		<div class="clearheight"></div>
		<div class="table ">
			<ul>
				<li>
					<div class="row test-question">
						<div class="col-span-4">
							&nbsp;
						</div>
						<div class="col-span-6">
							<h5 class="padleft">How to give your Test</h5>
						</div>
					</div>
					<div class="row random-questions-forms dual">
						<div class="col-span-4">
						<!--<h5>Via Group <span class="showTooltip tooltip" title="Make your test available to members of your Groups.">&nbsp;</span></h5>-->
							<ul class="question_type_selector_links" style="margin:25px 0 0 30%;">
								<li><a href="#" id="tog_assign_left" class="assign_left_link name group-name">Assign to Group</a></li>
							</ul>
							<div class="clearheight"></div>
							<div id="xdotog_assign_left" class="editor">
								<p class="littledark bold" style="text-align: center;margin-left:4%;"><em>Test your registered Group members</em></p>
								<p class="littledark">Group members will log in via the *****.com website where they can access the tests you have assigned to their Group.<br><a href="#" id="tog_about_left" class="showcont hideme">More</a></p>
								<div class="hide" id="dotog_about_left">
									<p class="littledark">Great for regular testing of the same user(s). </p>
									<ul class="littledark">
										<li>Teacher / students</li>
										<li>Employer / staff members</li>
									</ul>
									<p class="littledark">You can assign multiple tests to multiple groups with different settings each time as you require.</p>
									<p class="littledark">User Manual: <a href="/help/manual/#assign" class="popup">Learn more about giving tests</a>.</p>
								</div>
								<hr>
								<div class="alert-box alert-confirmation editor ">You can Save and Review Test Results given via Groups.</div>
								<p><a class="btn btn-create assign_left_link hideme" id="tog_usegroups" href="#">Assign to Group</a></p>
								<div class="hide me" id="dotog_usegroups">
									<h4>1) Select Groups</h4>
									<form action="/assign/rgmanage/" method="get" id="dosubmit_rg">
										<input type="hidden" name="assignnew" value="1">
										<input type="hidden" name="step" value="1">
										<input type="hidden" name="test_id" value="<%=test._id%>">
										<input type="hidden" id="sas_rg_id" value="">
										<input type="hidden" id="sas_test_id" value="">
										<div class="margleft">
<table cellspacing="0" cellpadding="0">
	<tbody>
		<%var tag= test.assignedGroups%>
		<%groups.forEach((g,i)=>{%>
		<%if( tag.indexOf(g._id)<0 ){%>
		<tr>
			<td width="25px">
				<input type="checkbox" value="<%=g._id%>" name="rg_id<%//_=g._id%>" id="rg<%=g._id%>">
			</td>
			<td>
				<label for="rg<%=g._id%>"><%=g.group_name%></label>
			</td>
		</tr>
		<%}%>
		<%})%>

		<tr>
			<td colspan="2">
				<div class="dotted"></div>
			</td>
		</tr>
		<%if(tag[0]){%>
		<tr>
			<td colspan="2">
				<div class="clearheight"></div>
				<p><strong><i>This Test is already Assigned to:</i></strong></p>
			</td>
		</tr>
		<%}%>
<!-- 		 -->
		<%groups.forEach((g,i)=>{%>
		<%if(tag.indexOf(g._id)>=0){%>
		<tr>
			<td width="25px">
				<input type="checkbox"  disabled="disabled" checked="checked">
			</td>
			<td>
				<span class="explain-underline showTooltipHTML" title="Test already assigned.<br/><br/>If you would like members to retake test:<br/><br/>1) Raise the Allowed attempts settings under the Assigned settings for this Test/Group or<br/><br/>2) Delete existing results for this test."><%=g.group_name%></span>
				<br><span class="little"><a href="/assign/rgmanage/?show=1&amp;test_id=<%=test._id%>&amp;rg_id=<%=g._id%>">View Assigned Settings</a></span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="dotted"></div>
			</td>
		</tr>
		<%}%>
		<%})%>

	</tbody>
</table>
											
											
			</div>

							<div class="not-ie67 ">
								<div class="clearheight30"></div>
								<h4>2) Pre-set settings <span class="showTooltipHTML tooltip" title="If you have assigned a Test to a Group previously, you can select to use the same settings again.
								<br/><br/>This is optional, Default settings will be used otherwise.
								<br/><br/>You can still edit settings on the next page before Assigning the Test.">&nbsp;</span>
								</h4>
								<p class="margleft"><i class="fa fa-cog" aria-hidden="true"></i> <a href="/tests/rpc/misc.rpc?assign_use_existing_group_test_settings=1" class="trigger-generic-array littlelink" data-index="1">Select from existing settings</a></p>
							</div>
							
							<div id="use_existing_settings_div" class="hide alert-box alert-default editor margleft">
								<p class="littledark">Selected settings to pre-set:</p>
								<div id="use_this_rg_name" class="group-name name"></div>
								<div class="clearheight"></div>
								<div id="use_this_test_name" class="test-name name"></div>
							</div>
							<div id="use_default_settings_div" class="margleft">
								<p class="littledark"><i>Using default settings at present</i></p> 
							</div>

							</form>
									
									
							<p><a class="btn btn-create" href="#" id="check_and_submit_rg_assign">Next</a></p>
							<hr><div class="clearheight5"></div>
							<p><a href="/tests/groups/new/" class="littlelink">+ Create new Group</a></p>
							<div class="clearheight"></div>
								</div>
							</div>
						</div>
				<!-- 	 -->
		<div class="col-span-2">
			<div class="or">or </div> &nbsp;
		</div>
				<!--	  -->
		<script>
		$("document").ready(function() {
			$('#check_and_submit_rg_assign').click(function(e) {
				e.preventDefault();
				if (!$('#dosubmit_rg').find('input[type=checkbox]:checked').length){
					alert('You must select one or more Groups to Assign your Test.');
					return false;
				}
				$( "#dosubmit_rg" ).submit();
			});
		});
	</script>
			<!-- 	 -->
<div class="col-span-4 ">
	<!--<h5>Via Link <span class="showTooltip tooltip"
	                title="Make your test available via a Link, or add/embed in your website.">&nbsp;</span>
	</h5>-->
    <ul class="question_type_selector_links" style="margin:25px 0 0 29%;">
        <li><a href="#" id="tog_non_reg_groups" class="assign_right_link name link-name">Create Link</a></li>
    </ul>
    <div class="clearheight"></div>
    <div class="editor" id="xdotog_non_reg_groups">
		<p class="littledark bold" style="margin-left:26%;"><em>No user registration required</em></p>
		<p class="littledark">Create a Unique Link (URL) that can be sent out via email to users, or add/embed the Test into your website using the code we provide.
		<br>
		<a href="#" id="tog_about_right" class="showcont hideme">More</a></p>
        <div class="hide" id="dotog_about_right">
            <p class="littledark">Great for 'once off' or 'bulk testing'.</p>
            <ul class="littledark">
                <li>Themes - brand your test with logo / colors.</li>
                <li>Access Lists - control test access / password protection.</li>
            </ul>
            <p class="littledark">You can create one link per test, as well as create multiple links for the same test to edit settings or keep results separated.</p>
			<p class="littledark">User Manual: <a href="/help/manual/#assign" class="popup">Learn more about giving tests</a>.</p>
        </div>
		<hr>
	    <div class="alert-box error editor ">You cannot Save or Review Test Results given via Links with a Free Account. <a href="/a/myaccount/upgrade">Upgrade</a>.</div>
		<p><a class="btn btn-create assign_right_link hideme" id="tog_uselinks" href="#">Assign to Link</a></p>
		<div class="hide" id="dotog_uselinks">
		    <form action="/a/assign/nrgmanage/" method="get" id="dosubmit_nrg">
				<input type="hidden" name="assignnew" value="1">
			    <input type="hidden" name="step" value="1">
				<input type="hidden" name="test_id" value="<%=test.test_id%>">
				<input type="hidden" id="sas_nrg_id" value="">
				<div class="not-ie67">
						<h4>Create New Link</h4>
						<p class="margleft"><i class="fa fa-cog" aria-hidden="true"></i> 
						<a href="/a/tests/rpc/misc.rpc.php?assign_use_existing_link_test_settings=1" class="trigger-generic-array littlelink" data-index="2">Pre-set settings</a>
						<span class="littledark">(optional)</span>
						 <span class="showTooltipHTML tooltip" title="If you have existing Links already created, you can select to use the same settings again.
						<br/><br/>This is optional, Default settings will be used otherwise.
						<br/><br/>You can still edit settings on the next page before Saving the Link.">&nbsp;</span></p>
					</div>
					
					<div id="use_nrg_existing_settings_div" class="hide alert-box alert-default editor margleft">
						<p>Selected settings to pre-set:</p>
						<div id="use_this_nrg_name" class="link-name name"></div>
					</div>
					<div id="use_nrg_default_settings_div" class="margleft">
					</div>
				<p><a class="btn btn-create" href="#" id="submit_nrg">Next</a></p>
		    </form>
		</div>
    </div>
</div>
</div>
</li>
</ul>
</div>
</div><!-- innerWrapper -->
<img src="/img3/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>
<%-include("../partials/footer")%>