<%-include("../partials/headerResult")%>
<%-include("../partials/teacherHead")%>
<div id="content" class="clearfix">
	<div class="innerWrapper">
		<div class="col-span-7">
			<p class="breadcrumb3">
				<a href="/tests/" class="first">
					<span>Tests</span>
				</a>
				<span>New Test</span>
			</p>
		</div>
		<%-include("links")%>
		<hr>
		<div class="clearheight30"></div>
		<div class="page editor">

			<form action="/tests/test/new" method="post" id="dosubmit_tn">
				<div class="field-group">
					<label class="form-field-title" for="test_name1">
						Test name:
					</label>
					<input size="40" class="input showTooltip checkEmpty" id="test_name1" type="text" name="test[test_name]" maxlength="255" original-title="The 'Test name' is seen by your test takers.">
				</div>
				
				<div class="field-group">
					<label class="form-field-title" for="cat_select">
						Category:
					</label>
					<select name="test[sub_cat_id]" id="cat_select" class="no_parent_cat_selection parent-cat-dd">
	<%pcats.forEach(function(pcat,i){%>
		<option value="pc<%=pcat._id%>" disabled="">- <%=pcat.parent_cat_name%> -</option>
		<%pcat.cat_name.forEach(function(subcat,j){%>
			<%scats.forEach(function(scat,k){%>
				<%if(JSON.stringify(scat._id)==JSON.stringify(subcat)){%>
					<option value="p<%=pcat._id%>sc<%=scat._id%>"  >
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=scat.cat_name%>
					</option>
				<%}%>
			<%})%>
		<%})%>
	<%})%>
					</select>
					<a href="#" id="createCatRpc" class="littlelink">
						New Category
					</a>
					<span class="showTooltip tooltip" original-title="Categorizing your Tests and Questions allows you to easily keep these items organized. You can also view results by Category to help better analyze problem areas.">Tip</span>
				</div>
				<div class="field-group">
					<a href="#" id="submit_tn" class="btn btn-create tab">
						Start Adding Questions
					</a>
				</div>
			</form>
		</div>
		<div class="aside editor">
			<div class="aside-message assign littledark editor">
				<p>Learn how to write great Tests.</p>
				Visit: <a href="/" class="popup">Here</a>.
			</div>
		</div>
		<div class="clear"></div>
		<hr>
		<div class="clearheight60"></div>
		<div class="clearheight60"></div>
	</div><!-- innerWrapper -->
	
	<img src="/img3/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>

<%-include('../partials/footer')%>