<%-include("../partials/headerResult")%>
<%-include("../partials/teacherHead")%>
<div id="content" class="clearfix">
	<div class="innerWrapper">
		<!-- top menu and breadcrumb -->
		<%-include("bank/menu")%>
		<div class="clearheight20"></div>
		<!-- <div class="clearheight20"></div> -->
		<!-- CM TABLE TABs -->
		<%-include("bank/tabs")%>
		<div class="clear"></div>
		<!-- Question Search -->
		<%-include("bank/searchQuestion")%>
		<div class="clearheight"></div>
		<!-- <First <Previous 1 Next> Last> -->
		<%-include("bank/pagination")%>
		 <!-- table -->
		<div class="table " id="dotog_show_qb_table">
			<%-include("bank/tableUtility")%>						
			<div class="table-body question-footer-hover-trigger">
				<%questions.forEach((q,i)=>{%>				
				<div>
					<div class="row test-question">
						<a id="q<%=q._id%>"></a>												<div class="col-span-3">
							<h4 class="question-name name">Question <%=(page-1)*limit+1+i%></h4>
						</div>
						<div class="col-span-6">
							<span class="right">
								<span class="qb-parent-cat">
									Category:
		<%pcats.forEach(function(pcat,j){%>
			<%if(JSON.stringify(pcat._id)==JSON.stringify(q.parent_cat_id)){%>
					<%=pcat.parent_cat_name%> »
			<%}%>
		<%})%>
								</span>
		<%scats.forEach(function(scat,j){%>
			<%if(JSON.stringify(scat._id)==JSON.stringify(q.sub_cat_id)){%>
					<%=scat.cat_name%>
			<%}%>
		<%})%>
							</span>
						</div>
						<div class="col-span-1">
							<span class="right"><%=q.points%> pt</span>
						</div>
					</div>
					

					<div class="row 
						<%if(test){%>
						<%var tq=test.questions%>
						<%tq.forEach((tqq)=>{%>
						<%if(JSON.stringify(q._id)==JSON.stringify(tqq)){%>
							question_selected
						<%}})%>
						<%}%>
					">
						<div class="editor question">
							<div class=" qpad bbcode">
								<%=q.question%>
								
								<%if(q.type=="p"){%>
								<p><strong>Incorrect phrase:</strong></p>
								<p>
									<%=q.p_incorrect%>
								</p>
								<%}%>
							</div>
							<div class="hide" id="dotog_ans<%=q._id%>">
							
								<table class="answholder">
									<tbody>
										<%if(q.type=="mcma"||q.type=="mcsa"){%>
										<%var ch=["A","B","C","D","E","F","G","H","I","J"];%>
										<%var options=q.mc_options%>
										<%var corrects=q.mc_correct%>
										<%options.forEach(function(op,i){%>
										<%if(op.answer!=''){%>
										<tr>
										<td><%if(corrects.includes(i+1)){%>
										<span class="satick"><img src="/img3/correctv3.png" srcset="/img3/correctv3.png 1x, /img3/correctv3_3x.png 3x" alt="Correct" width="15" height="16"></span>
										<%}%></td>
										<td class="number"><%=ch[i]%>) </td>
										<td class="answer bbcode"><%=op.answer%></td>
										</tr>
										<%}%>
										<%})%>
										<%}%>
																														<%if(q.type=="tf"){%>
										<%var ch=["A","B"];%>
										<%var options=q.tf_options%>
										<%var corrects=q.tf_correct%>
										<%options.forEach(function(op,i){%>
										<%if(op.answer!=''){%>
										<tr>
										<td><%if(corrects.includes(i+1)){%>
										<span class="satick"><img src="/img3/correctv3.png" srcset="/img3/correctv3.png 1x, /img3/correctv3_3x.png 3x" alt="Correct" width="15" height="16"></span>
										<%}%></td>

										<td class="number"><%=ch[i]%>) </td>
										<td class="answer bbcode"><%=op.answer%></td>
										</tr>
										<%}%>
										<%})%>
										<%}%>
										
										<%if(q.type=="ft"){%>
										<%var corrects=q.ft_correct%>
										<%corrects.forEach(function(c,i){%>
										<%if(c!=''){%>
										<tr>
										<td>
										<span class="satick"><img src="/img3/correctv3.png" srcset="/img3/correctv3.png 1x, /img3/correctv3_3x.png 3x" alt="Correct" width="15" height="16"></span>
										</td>									
										<td class="answer bbcode"><%=c%></td>
										</tr>
										<%}%>
										<%})%>
										<%}%>										
										<%if(q.type=="p"){%>
										<p><strong>Correct phrase:</strong>
			 <span class="tooltip showTooltip" title="User must correct the phrase above to exactly match the correct phrase below.">&nbsp;</span></p>
										<%var correct=q.p_correct%>
										<tr>
										<td>
										<span class="satick"><img src="/img3/correctv3.png" srcset="/img3/correctv3.png 1x, /img3/correctv3_3x.png 3x" alt="Correct" width="15" height="16"></span>
										</td>									
										<td class="answer bbcode"><%=correct%></td>
										</tr>
										<%}%>

									</tbody>
								</table>
							
								<div class="divider-solid"></div>
								<div class="clearheight"></div>
								<table class="qb-q-info">
									<tbody>
										<tr>
											<td>
												<strong>Question Type:</strong>
											</td>
											<%if(q.type=="mcsa"){%>
											<td>Multiple Choice</td>
											<%}%>
											<%if(q.type=="mcma"){%>
											<td>Multiple Response</td>
											<%}%>
											<%if(q.type=="tf"){%>
											<td>True False</td>
											<%}%>
											<%if(q.type=="ft"){%>
											<td>Free Text | Short Answer</td>
											<%}%>
											<%if(q.type=="p"){%>
											<td>Grammar</td>
											<%}%>
											<%if(q.type=="e"){%>
											<td>Essay</td>
											<%}%>
											<%if(q.type=="m"){%>
											<td>Matching</td>
											<%}%>
										</tr>
										<tr>
											<td>Category:</td>
											<td>
												<span class="qb-parent-cat">
		<%pcats.forEach(function(pcat,j){%>
			<%if(JSON.stringify(pcat._id)==JSON.stringify(q.parent_cat_id)){%>
					<%=pcat.parent_cat_name%> »
			<%}%>
		<%})%>
												</span>
		<%scats.forEach(function(scat,j){%>
			<%if(JSON.stringify(scat._id)==JSON.stringify(q.sub_cat_id)){%>
					<%=scat.cat_name%>
			<%}%>
		<%})%>
											</td>
										</tr>
										<tr>
											<td>Points:</td>
											<td><%=q.points%></td>
										</tr>
											
										<%if(q.type=="mcma"||q.type=="mcsa"){%>	
										<tr>
											<td>Randomize Answers:</td>
											<%if(q.random_a==1){%>
												<td>Yes</td>
											<%}else{%>
												<td>No</td>
											<%}%>
										</tr>
										<%}%>
										<%if(q.type=="mcma"){%>
										<tr>
											<td>Grade style:</td>
											<%if(q.grade_style==0){%>
												<td>Full points if all answers are correct</td>
											<%}else if(q.grade_style==1){%>
												<td>Partial - points removed for incorrect answers</td>
											<%}else{%>
												<td>Partial - points not removed for incorrect answers</td>
											<%}%>
										</tr>
										<%}%>
										
										<tr>
											<td>Date Added:</td>
											<%if(q.createdAt){%>
											<td class="padleft5"><span><%=moment(q.createdAt).tz(teacher.timezone)%></span></td>
											<%}%>
										</tr>
										<tr>
											<td>Last Modified:</td>
											<%if(q.editedAt){%>
											<td class="padleft5"><span><%=moment(q.editedAt).tz(teacher.timezone)%></span></td>
											<%}%>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="question-footer-hover opacityon">
							<div class="divider-solid"></div>
							<div class="question-footer">
								<a href="#" id="tog_ans<%=q._id%>" class="open-close-toggle">
									<i class="fa fa-expand" aria-hidden="true"></i> 
									Answers
								</a>		
								<%if(!test){%>
								<span> | </span>
								<!-- <a href="/questions/<%=q._id%>/edit"> -->
								<a href="/questions/new?question_id=<%=q._id%>">
									<i class="fa fa-pencil" aria-hidden="true"></i> 
									Edit
								</a>
								<span> | </span>
								<!-- <a href="#" class="upgradeRpc"> -->
								<a href="/questions/new?question_id=<%=q._id%>&duplicate=1">
									<i class="fa fa-files-o" aria-hidden="true"></i> 
									Duplicate
								</a>
								<span> | </span>
								<a id="dq-<%=q._id%>" href="#">
									<i class="fa fa-trash-o" aria-hidden="true"></i> 
									Delete
								</a>
								<%}%>
								<span> | </span>
								<a id="sqit-<%=q._id%>">
									<i class="fa fa-location-arrow" aria-hidden="true"></i>
									Used In
								</a>

						<%if(test){%>
						<%var qt=q.used_in%>
						<%var counter=0%>
						<%qt.forEach((qtt)=>{%>
					<%if(JSON.stringify(test._id)==JSON.stringify(qtt._id)){%>
							<%counter+=1%>
					<%}})%>
								
							<%if(test && !counter){%>
							<!-- <div class="col-span-3 col-btns"> -->
								<span class="right">
									<span id="d<%=q._id%>">
										<a href="#" id="addq-<%=q._id%>" class="btn btn-results">Add Question To Test</a>
									</span>
								</span>
							<!-- </div> -->
							<%}%>
							
						<%if(test && counter){%>
						<!-- <div class="col-span-3 col-btns"> -->
							<span class="right">
								<span id="d<%=q._id%>">
									<a href="#" id="removeq-<%=q._id%>">Remove From Test</a>
								</span>
							</span>
						<!-- </div> -->
						<%}%>
						<%}%>
								
							</div>	

							<div id="dsqit-<%=q._id%>" class="hidden col-span-7">
							</div>
						</div>
					</div>
				</div>
				<%})%>
			</div>	
								
			<%-include("bank/tableUtility")%>
		</div>
		
		<a id="bottom"></a>
		<%-include("bank/pagination")%>		
		<div class="clearheight30"></div>
		<%-include("bank/learnAbout")%>
		<br>
		<div class="center-text"><a href="#" class="anchor_scroll_top_default backtotop"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></div>
		<%if(test){%>
					<!-- // For adding Q to Test // -->
		<input type="hidden" name="test_id" value="<%=test._id%>">
		<%}%>
		
<script>
	asset_image_toggle_max_width = 600; 	asset_image_allow_toggle = false;
	var page_type = 'qb';
</script>
		
		<div class="jqmWindowWide jqmID3 jqDrag jqmID1" id="qbankExportDiv"></div>

<!-- Search in Question Bank -->
<div id="status" data-var=<%=search.status%>></div>
<div id="qtype" data-var=<%=search.type%>></div>
<div id="catId" data-var=<%=search.cat%>></div>
<div id="query" data-var=<%=search.query%>></div>
<script>
	//Search in Question Bank
	var status=document.getElementById('status').dataset.var
	var qtype=document.getElementById('qtype').dataset.var
	var catId=document.getElementById('catId').dataset.var
	var query=document.getElementById('query').dataset.var
	
	$('option[value="'+status+'"]').attr("selected","selected")
	$('option[value="'+qtype+'"]').attr("selected","selected")
	$('option[value="'+catId+'"]').attr("selected","selected")
	$('#query1').attr("value",query)
	if(status!="" || qtype!="" || catID!=""|| query!=""){
		$('#fl').removeClass('hide')
		$('#fl').attr('href','/questions')
	}
</script>
		
<script>
$(document).ready(function(){
	$('#qbankExportDiv').jqm({ajax: '/a/tests/rpc/qbankExport.rpc.php', trigger: 'a.qbankExport'});
	/* If coming from edit question page, open answers div for that question */
	var hash = window.location.hash.substr(2);
	if (hash.length > 0){
	    $('#dotog_ans'+hash).show();
	}
});
</script>
	</div><!-- innerWrapper -->
<img src="/img3/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>
<%-include("../partials/footer")%>